body {
  font-family: sans-serif;
  color: #3B2314;
}
.container {
  max-width: 750px;
}
a {
  text-decoration: none !important;
  color: #cc0000;
  opacity: .6;
  -webkit- transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
a:hover {
  color: #cc0000;
  opacity: 1;
}
a.inherit-link, a.inherit-link:hover {
  color: inherit !important;
}

/* Content */
div.fb_logo {
  position: absolute;
  top: 0px;
  right: 50px;
}
div.yt_logo {
  position: absolute;
  top: 0px;
  right: 0px;
}
.fb_logo img, .yt_logo img {
  width: 40px;
}
.logo {
  position: relative;
  z-index: 20;
  width: 100px;
  height: auto;
}
.main_content {
  width: 100%;
  height: auto;
}
.container h1, .container h2, .container h3 {
  line-height: 15px;
  font-size: 15px;
  letter-spacing: 2.5px;
  padding: 0;
  text-transform: uppercase;
  margin: 0;
}
.container h1, .container h2  {
  font-weight: bold;
}
.container h3 {
  font-size: 13px;
}

/* Table */
table {
  text-align: center;
  width: 100%;
}
td {
  padding: 1em;
}
table, td {
  border: 1px solid #3B2314;
}
.table-wrap {
  margin-bottom: 1em;
  background-color: #fff;
  opacity: .8;
}

/* Presentation */
.presentation {
  padding-top: 50%; 
}
.container {
  background: url(../img/meat.jpg) no-repeat top center;
  background-size: 80%;
  padding-top: 2em;
}

/* Magner Logo */
.mslogo {
  float: right; 
}
  .mslogo p {
    line-height: 30px;
    float: right;
    font-size: 12px;
  }
  .mslogo p span {
    float: left;
  }
  .mslogo img{
    float: right;
    width: 150px;
    padding-top: 3px;
    padding-left: 5px;
  }
/*****************************************
          Gallery Stylings
**************************************** */

.page-fade {
  opacity: 0.1;
}
#gallery {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 20px;
}
.front {
  width: 100%;
  margin: 0px 0px;
  cursor: pointer;
} 
.front img {
    width: 100%;
    height: auto;
}
.back img {
    width: 100%;
  height: auto;
}
.info-mod p {
  margin-bottom: 0;
}
.info-mod a {
  display: inline-block;
  padding-top: 0.5em;
}
.info-mod img {
  width: 100%;
}
.contact-info {
  margin-bottom: 20px;
}
.cardWrapper{
    padding: 0;
    display: inline-block;
  width: 25%;
    margin: 0;
  cursor: pointer;
    position: relative;
}
.info-mod {
  width:100%;
  float: left;
  display: none;
  border-bottom: 4px solid #3B2314;
  padding: 2% 1% 0 1%;
}
.info-mod-col {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 0 1% 4% 1%;
}

/* gallery */

@media(max-width:768px) {
  .cardWrapper, .info-mod-col {
    width: 33.333333333%;
  }
  .info-mod {
    padding: 4% 2% 0 2%;
  }
  .info-mod-col {
    padding: 0 2% 8% 2%;
  }
  .info-contact {
    width: 100%;
  }
}

/* ----------------------------------*/

.cardWrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 25%;
  padding-top: 25%;
  margin: -2px;
}
.cardWrapper:hover > .first {
  top: -100%;
}
.cardWrapper:hover > .second {
  bottom: -100%;
}
.first {
  background: url(../first.jpg) no-repeat, transparent;
  background-size: 100% auto;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50.208333%;

  -webkit-transition: top 0.4s 0.1s;
  -moz-transition: top 0.4s 0.1s;
  -o-transition: top 0.4s 0.1s;
  transition: top 0.4s 0.1s;
}
.second {
  background: url(../second.jpg) no-repeat;
  background-size: 100% auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50.208333%;

  -webkit-transition: bottom 0.4s 0.1s;
  -moz-transition: bottom 0.4s 0.1s;
  -o-transition: bottom 0.4s 0.1s;
  transition: bottom 0.4s 0.1s;
}
.third {
  background: url(../third.jpg);
  background-size: 100% auto;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/* gallery */

@media(max-width:768px) {
  .cardWrapper, .info-mod-col {
    width: 33.333333333%;
    padding-top: 33.3333333333%;
  }
  .info-mod {
    padding: 4% 2% 0 2%;
  }
  .info-mod-col {
    padding: 0 2% 8% 2%;
  }
  .info-contact {
    width: 100%;
  }
}
@media(max-width: 480px) {
  .cardWrapper {
    width: 50%;
    padding-top: 50%;
  }
  .info-mod {
    padding: 8% 2% 8% 2%;
  }
  .info-mod-col {
    width: 100%;
    padding: 0 4% 8% 4%;
  }
}
/* presentation */
@media(max-width: 480px){
  .container {
    padding-top: 1em;
  }
  .logo {
    width: 70px;
  }
  .container h1, .container h2, .container h3 {
    font-size: 12px;
  }
  h3 a {
    border: 1px solid #ff0000;
    padding: 1em;
    margin-top: 0.5em;
    display: block;
  }
  .presentation {
    padding-top: 40%;
}

  